#pagination {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}
#pagination ul {
  display: flex;
  list-style: none;
  height: 20px;
  margin: 0;
  padding: 0;
}

#pagination ul li {
  cursor: pointer;
  font-size: 12px;
  margin-right: 8px;
}

#pagination ul li.disabled {
  color: grey;
  cursor: default;
}
