/* ImageManager.jsx */
.imageContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
}

.imageManagerContainer {
  position: absolute;
  z-index: 10000;
  width: 85%;
  height: 90%;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(242, 241, 239, 1);
}

.imageManagerContainer__top {
  display: flex;
  justify-content: center;
}

.imageManagerContainer__top__left,
.imageManagerContainer__top__right {
  width: 50%;
}

.closeButtonContainer {
  position: relative;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 10001;
}

.closeButton:hover {
  opacity: 1,
}

.closeButton:before {
  position: absolute;
  left: 15px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: black;
  transform: rotate(45deg);
}

.closeButton:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: black;
  transform: rotate(-45deg);
}

.imageManagerContainer__body {
  position: relative;
  height: 100%;
  display: flex;
}

.imageManagerContainer__body__left {
  width: 25%;
  height: 100%;
  border-right: 1px solid black;
}

.imageManagerContainer__body__right__container {
  height: 100%;
  width: 100%;
  position: relative;
}

.imageManagerContainer__body__right {
  padding-right: 17px;
  display: flex;
  justify-content: center;
}

.imageManagerContainer__body__left__titles {
  margin-top: 20px;
}

.imageManagerContainer__body__left__titles p {
  margin-left: 30%;
  margin-top: 10px;
  cursor: pointer;
}

.imageManagerContainer__body__left__titles p:hover {
  text-decoration: underline,
}

/* *** *** *** *** */

/* CropImage.jsx */
.image {
  width: 680px !important;
}

/* *** *** *** *** */

/* ImageFieldInput */
.imageFieldLabel {
  font-size: 16px;
  text-transform: capitalize;
}

.imageFieldInput {
  font-size: 16px;
  width: 100%;
  padding: 8px;
}

/* *** *** *** *** */

/* ImageFieldDropDown.jsx */
.imageFieldContainer {
  font-size: 1.6rem;
}

/* *** *** *** *** */


/* ImageUploader.jsx */
.uploaded {}

.nonUploaded {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.allInputs {
  display: flex;
  justify-content: space-between;
}

.allInputs input::-webkit-file-upload-button {
  margin: 20px 0;
}

.allInputs button {
  margin: 20px 0;

}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropContainer {
  margin-top: 40px;
}


.dataImage {
  display: flex;
  margin-bottom: 1rem;
}

.dataImage p {
  font-size: 1.2rem;
  margin-right: 10px;
  font-weight: bold;
}

.tagContainer {
  height: 40px;
  font-size: 16px;
  margin-top: 16px;
}

.tagContainer span {
  font-size: 14;
}

/* *** *** *** *** */

/* card.jsx */
.cardContainer {}

.card_imageContainer {
  margin-left: 20px;
  height: 120px;
  width: 200px;
  margin-bottom: 40px;
}

.card_imageContainer img:hover {
  cursor: pointer;
  border: 2px solid black;
}

.imageContainerSelected {
  height: 120px;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.imageContainerSelected img {
  border: 2px solid red;
}

.imageContainerSelected img:hover {
  cursor: pointer,
}

.card_image {
  max-width: 100%;
  max-height: 100%;
}

.lightText {
  opacity: 0.7;
  font-size: 12px;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.infoContainer p {
  display: flex;
  align-items: center;
}

.infoText {
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Gallery.jsx */

.galleryContainer {
  display: flex;
  flex-direction: column;
}

.searchGalleryContainer {
  position: absolute;
  top: 0;
  height: 70px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.searchGalleryContainer input.withTags {
  width: 30%;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}

.searchGalleryContainer input.withoutTags {
  width: 60%;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}

.tagContainerGallery {
  width: 50%;
  margin-left: 30px;
  font-size: 16px;
}

.tagContainer .MuiInputBase-root {
  margin-top: 0;
}

.galleryImageContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 15%;
}

.optionsGalleryContainer {
  position: absolute;
  top: 85%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(242, 241, 239, 1);
  display: flex;
  align-content: center;
}

.optionsGalleryContainer>div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.optionsGalleryContainer>div:first-child {}

.optionsGalleryContainer>div:last-child {
  text-align: right;
}

.validationButtonContainer {
  display: flex;
  align-items: center;
}

/* *** *** *** *** */

/* Generic */

.impageUpladerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input.inputFile {
  display: none;
}

label.customFileInput,
button.customFileInput {
  padding: 20px 40px;
  max-height: 60px;
  background-color: peru;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: 100ms ease-out;
  cursor: pointer;
  font-size: 16px;
}

label.customFileInput:hover,
button.customFileInput:hover {
  background-color: #bd6e1f;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

button.customFileInput:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/* Dropdown MUI Component Autocomplete*/
div[role="presentation"].MuiAutocomplete-popper {
  z-index: 1000000;
}